.env
.vscode
*.pyc
.venv
.DS
.DS_Store
poetry.lock
.idea
logs/
venv/
__pycache__/
/voice_agent_network/src/llm/llm_models/model_files/medgemma_models/
/voice_agent_network/src/llm/llm_models/model_files/gemma_models/
/voice_agent_network/tests/topic_agent.py